

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  height: 100vh;
}


.main{
  height: 100%;
  width: 100%;
  background-color: bisque;
 /* display: flex;
  flex-wrap: wrap;*/

}
h1{
  padding: 50px 30px;
  text-shadow: 2px 2px 2px black;
}

.sidebar{
  height: 722px;
  width: 360px;
  margin: 10px;
  background-image: url("../img/Webp.net-resizeimage(1).jpg");
  background-size: 360px 730px;
  border: 3px solid black;
  box-shadow: 2px 2px 2px black;
  border-radius: 5px;
  background-color: bisque;

}

.header{
  width: 100%;
  height:100px;
  background-color: darkslategray;

}
#myCanvas{
  border-radius: 5px;
  border: 3px solid black;
  margin: 10px;
  box-shadow: 2px 2px 2px black;
  background-image: url("../img/zforest.png");
  background-position: 0px -30px;


}
.wrapper{
  display: flex;
  height: 740px;
}

.loadscreen{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: dimgrey;
}